.product{
  background-color: #6DD5FA;
    width: 100%;
    display: flex ;
    width: 80%;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    height: 5vh;
margin-top: 5px;
}

.product p {
   margin-top: 14px;
}